<!DOCTYPE html>
<html lang="en" ng-app="Blog">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Scripts/lib/ckeditor/contents.css" rel="stylesheet" />
    <link href="~/Scripts/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Scripts/lib/bootstrap-theme-cosmo/cosmo.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="container body-content" ng-controller="LoginController as loginCtrl">
        <h2>@ViewData["Title"]</h2>
        <div class="row">
            <login-form></login-form>
            <div class="col-md-4">
                <div class="col-md-4">
                    <section id="socialLoginForm">
                        @*@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })*@
                    </section>
                </div>
            </div>
        </div>
    </div>

    <!-- Libraries -->
    <script src="~/Scripts/lib/angular-full/angular.js"></script>
    <script src="~/Scripts/lib/angular-full/angular-route.min.js"></script>
    <script src="~/Scripts/lib/angular-full/angular-resource.js"></script>
    <script src="~/Scripts/lib/angular-full/angular-sanitize.js"></script>
    <script src="~/Scripts/lib/underscore/underscore.js"></script>
    <script src="~/Scripts/lib/jQuery/dist/jquery.js"></script>
    <script src="~/Scripts/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/Scripts/lib/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/lib/angular-ckeditor/angular-ckeditor.js"></script>

    <script src="~/Scripts/app/app.js"></script>
    <script src="~/Scripts/app/base/LoginController.js"></script>
    <!-- Modules -->
    @*<script src="/js/modules/post/post-module.js"></script>
    <script src="/js/modules/post/post-service.js"></script>
    <script src="/js/modules/post/post-controller.js"></script>
    <script src="/js/modules/post/post-detail-controller.js"></script>
    <script src="/js/modules/post/post-create-controller.js"></script>*@
    <!-- Directives -->
    <script src="~/Scripts/app/base/directives/navbar.js"></script>
    <script src="~/Scripts/app/base/directives/loginForm.js"></script>
    <script src="~/Scripts/app/base/directives/footer.js"></script>

    <foot-bar></foot-bar>
</body>
</html>