<!--<div class="col-md-8">
    <section>
        <form id="loginForm" class="form-horizontal" role="form">
            <h4>Use a local account to log in.</h4>
            <hr />
            <div class="form-group">
                <label for="email" class="col-md-2 control-label">UserName :</label>
                <div class="col-md-10">
                    <input id="email" type="email" ng-model="authCtrl.loginInfo.userName" />
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-md-2 control-label">Password :</label>
                <div class="col-md-10">
                    <input id="password" type="password" ng-model="authCtrl.loginInfo.password" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="checkbox">
                        <input id="rememberMe" type="checkbox" ng-model="loginCtrl.loginInfo.rembem" />
                        <label for="rememberMe">Remember Me</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Log in" class="btn btn-default" ng-click="authCtrl.logIn()" />
                </div>
            </div>
            <p>
                <a href="/Account/Register">Register as a new user?</a>
            </p>
            <p>
                <a href="/Account/ForgotPassword">Forgot your password?</a>
            </p>
        </form>
    </section>
</div>-->

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <input id="email" class="form-control" type="email" ng-model="authCtrl.loginInfo.userName" />
                            </div>
                            <div class="form-group">
                                <input id="password" class="form-control" type="password" ng-model="authCtrl.loginInfo.password" />
                            </div>
                            <input type="submit" value="Log in" class="btn btn-lg btn-success btn-block" ng-click="authCtrl.logIn()" />
                            <p>
                                <a href="/Account/Register">Register as a new user?</a>
                            </p>
                            <p>
                                <a href="/Account/ForgotPassword">Forgot your password?</a>
                            </p>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>