<!DOCTYPE html>
<html lang="en" ng-app="TicketNowAdmin">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Scripts/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Scripts/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Scripts/lib/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" rel="stylesheet" />
    <link href="~/Scripts/lib/startbootstrap-sb-admin-2/dist/css/timeline.css" rel="stylesheet" />
    <link href="~/Scripts/lib/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet" />
    <link href="~/Scripts/lib/angular-loading-bar/src/loading-bar.css" rel="stylesheet" />
    <link href="~/Scripts/lib/metisMenu/dist/metisMenu.css" rel="stylesheet" />
</head>
<body ng-controller="MainController as main" style="background-color: white">
    <navigation-bar></navigation-bar>
    <div class="container-fluid">
        <div class="row">
            <side-menu class="col-md-3 no-padding"></side-menu>
            <div class="col-md-9 body-content">
                <div ui-view></div>
            </div>
        </div>
    </div>
    <!-- Libraries -->
    <script src="~/Scripts/lib/angular-full/angular.js"></script>
    <script src="~/Scripts/lib/angular-full/angular-resource.js"></script>
    <script src="~/Scripts/lib/angular-full/angular-sanitize.js"></script>
    <script src="~/Scripts/lib/angular-full/angular-messages.js"></script>
    <script src="~/Scripts/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="~/Scripts/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="~/Scripts/lib/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="~/Scripts/lib/underscore/underscore.js"></script>
    <script src="~/Scripts/lib/restangular/dist/restangular.js"></script>
    <script src="~/Scripts/lib/jQuery/dist/jquery.js"></script>
    <script src="~/Scripts/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/Scripts/lib/angular-loading-bar/src/loading-bar.js"></script>
    <script src="~/Scripts/lib/angular-full/angular-animate.js"></script>
    <script src="~/Scripts/lib/flow.js/dist/flow.js"></script>
    <script src="~/Scripts/lib/ng-flow/dist/ng-flow.js"></script>
    <script src="~/Scripts/lib/metisMenu/dist/metisMenu.js"></script>
    <script src="~/Scripts/lib/moment/moment.js"></script>
    @*<script src="~/Scripts/lib/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js"></script>*@

    <script src="~/Scripts/app/app.js"></script>

    <!-- Controllers -->
    <script src="~/Scripts/app/base/MainController.js"></script>

    <!-- Services -->
    <!-- Modules -->
    <script src="~/Scripts/app/modules/auth/auth-module.js"></script>
    <script src="~/Scripts/app/modules/auth/auth-service.js"></script>
    <script src="~/Scripts/app/modules/auth/auth-interceptor-service.js"></script>
    <script src="~/Scripts/app/modules/auth/auth-controller.js"></script>

    <script src="~/Scripts/app/modules/users/user-module.js"></script>
    <script src="~/Scripts/app/modules/users/user-service.js"></script>
    <script src="~/Scripts/app/modules/users/user-controller.js"></script>
    <script src="~/Scripts/app/modules/users/user-create-controller.js"></script>
    <script src="~/Scripts/app/modules/users/user-edit-controller.js"></script>

    <script src="~/Scripts/app/modules/roles/role-module.js"></script>
    <script src="~/Scripts/app/modules/roles/role-service.js"></script>
    <script src="~/Scripts/app/modules/roles/role-controller.js"></script>
    <script src="~/Scripts/app/modules/roles/role-edit-controller.js"></script>
    <script src="~/Scripts/app/modules/roles/role-create-controller.js"></script>

    <script src="~/Scripts/app/modules/locations/location-module.js"></script>
    <script src="~/Scripts/app/modules/locations/location-service.js"></script>
    <script src="~/Scripts/app/modules/locations/location-controller.js"></script>
    <script src="~/Scripts/app/modules/locations/location-create-controller.js"></script>
    <script src="~/Scripts/app/modules/locations/location-edit-controller.js"></script>

    <script src="~/Scripts/app/modules/events/event-module.js"></script>
    <script src="~/Scripts/app/modules/events/event-service.js"></script>
    <script src="~/Scripts/app/modules/events/event-controller.js"></script>
    <script src="~/Scripts/app/modules/events/event-create-controller.js"></script>
    <script src="~/Scripts/app/modules/events/event-edit-controller.js"></script>

    <script src="~/Scripts/app/modules/schedules/schedule-module.js"></script>
    <script src="~/Scripts/app/modules/schedules/schedule-service.js"></script>
    <script src="~/Scripts/app/modules/schedules/schedule-controller.js"></script>
    <script src="~/Scripts/app/modules/schedules/schedule-create-controller.js"></script>
    <script src="~/Scripts/app/modules/schedules/schedule-edit-controller.js"></script>

    <!-- Directives -->
    <script src="~/Scripts/app/base/directives/match.js"></script>
    <script src="~/Scripts/app/base/directives/navbar.js"></script>
    <script src="~/Scripts/app/base/directives/footer.js"></script>
    <script src="~/Scripts/app/base/directives/loginForm.js"></script>
    <script src="~/Scripts/app/base/directives/listGroup.js"></script>
    <script src="~/Scripts/app/base/directives/sideMenu.js"></script>
    <script src="~/Scripts/app/base/directives/metisMenu.js"></script>
</body>
</html>