<!DOCTYPE html>
<html lang="en" ng-app="TicketNow">
<head>
    <meta charset="utf-8" />
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @*<link href="~/Scripts/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />*@
    <link href="~/Scripts/lib/material-design-lite/material.css" rel="stylesheet" />
    <link href="~/Scripts/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    @*<link href="~/Scripts/lib/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" rel="stylesheet" />
        <link href="~/Scripts/lib/startbootstrap-sb-admin-2/dist/css/timeline.css" rel="stylesheet" />*@
    <link href="~/Scripts/lib/angular-loading-bar/src/loading-bar.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <style>
        body{
            font-family: Roboto, Helvetica, Arial, sans-serif;
        }

        .mdl-menu .mdl-menu--title {
            color: rgba(0, 0, 0, 0.87) !important;
        }

        .mdl-menu__item a {
            color: rgba(0, 0, 0, 0.87) !important;
            text-decoration: none; 
        }
    </style>
</head>
<body ng-controller="MainController as main" class="mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">


    <!-- Simple header with scrollable tabs. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout--large-screen-only mdl-layout__header-row">
                <span class="mdl-layout-title">Ticket Now</span>
                <div class="mdl-layout-spacer"></div>
            </div>
            <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
                <a href="#scroll-tab-1" class="mdl-layout__tab is-active">Home</a>
                <a href="#scroll-tab-2" class="mdl-layout__tab">Now Showing</a>
                <a href="#scroll-tab-3" class="mdl-layout__tab">Coming Soon</a>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Ticket Now</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="">UserName</a>
                <a class="mdl-navigation__link" href=""><i class="fa fa-user fa-fw"></i> User Profile</a>
                <a class="mdl-navigation__link" href=""><i class="fa fa-gear fa-fw"></i> Settings</a>
                <a class="mdl-navigation__link" href=""><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
                <div class="page-content">
                    
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--5-col mdl-cell--8-col-tablet mdl-cell--middle">

                            <!-- Square card -->
                            <div class="demo-card-square mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title mdl-card--expand">
                                    <h2 class="mdl-card__title-text">Update</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenan convallis.
                                </div>
                                <div class="mdl-card__actions mdl-card--border">
                                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                        View Updates
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="mdl-cell mdl-cell--5-col mdl-cell--8-col-tablet mdl-cell--middle">

                            <!-- Square card -->
                            <div class="demo-card-square mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title mdl-card--expand">
                                    <h2 class="mdl-card__title-text">Update</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenan convallis.
                                </div>
                                <div class="mdl-card__actions mdl-card--border">
                                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                        View Updates
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="mdl-cell mdl-cell--5-col mdl-cell--8-col-tablet mdl-cell--middle">

                            <!-- Square card -->
                            <div class="demo-card-square mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title mdl-card--expand">
                                    <h2 class="mdl-card__title-text">Update</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenan convallis.
                                </div>
                                <div class="mdl-card__actions mdl-card--border">
                                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                        View Updates
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </section>
            <section class="mdl-layout__tab-panel" id="scroll-tab-2">
                <div class="page-content"><!-- Your content goes here --></div>
            </section>
            <section class="mdl-layout__tab-panel" id="scroll-tab-3">
                <div class="page-content"><!-- Your content goes here --></div>
            </section>
        </main>
    </div>
    

    <div ui-view></div>

    <!-- Libraries -->
    <script src="~/Scripts/lib/angular-full/angular.js"></script>
    <script src="~/Scripts/lib/angular-full/angular-route.min.js"></script>
    <script src="~/Scripts/lib/angular-full/angular-resource.js"></script>
    <script src="~/Scripts/lib/angular-full/angular-sanitize.js"></script>
    <script src="~/Scripts/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="~/Scripts/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="~/Scripts/lib/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="~/Scripts/lib/underscore/underscore.js"></script>
    <script src="~/Scripts/lib/restangular/dist/restangular.js"></script>
    <script src="~/Scripts/lib/jQuery/dist/jquery.js"></script>
    <script src="~/Scripts/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/Scripts/lib/material-design-lite/material.js"></script>
    <script src="~/Scripts/lib/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/lib/angular-ckeditor/angular-ckeditor.js"></script>
    <script src="~/Scripts/lib/angular-loading-bar/src/loading-bar.js"></script>
    <script src="~/Scripts/lib/angular-full/angular-animate.js"></script>

    <script src="~/Scripts/app/app.js"></script>

    <!-- Controllers -->
    <script src="~/Scripts/app/base/MainController.js"></script>

    <!-- Services -->
    <!-- Modules -->
    <script src="~/Scripts/app/modules/auth/auth-module.js"></script>
    <script src="~/Scripts/app/modules/auth/auth-service.js"></script>
    <script src="~/Scripts/app/modules/auth/auth-interceptor-service.js"></script>
    <script src="~/Scripts/app/modules/auth/auth-controller.js"></script>

    <!-- Directives -->
    <script src="~/Scripts/app/base/directives/navbar.js"></script>
    <script src="~/Scripts/app/base/directives/footer.js"></script>
    <script src="~/Scripts/app/base/directives/loginForm.js"></script>
</body>
</html>