<!DOCTYPE html>
<html lang="en" ng-app="TicketNow">
<head>
    <meta charset="utf-8" />
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @*<link href="~/Scripts/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />*@
    <link href="~/Scripts/lib/material-design-lite/material.css" rel="stylesheet" />
    <link href="~/Scripts/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    @*<link href="~/Scripts/lib/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" rel="stylesheet" />
        <link href="~/Scripts/lib/startbootstrap-sb-admin-2/dist/css/timeline.css" rel="stylesheet" />*@
    <link href="~/Scripts/lib/angular-loading-bar/src/loading-bar.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <style>
        body{
            font-family: Roboto, Helvetica, Arial, sans-serif;
        }

        .mdl-menu .mdl-menu--title {
            color: rgba(0, 0, 0, 0.87) !important;
        }

        .mdl-menu__item a {
            color: rgba(0, 0, 0, 0.87) !important;
            text-decoration: none; 
        }

        .main-content .content-card {
            margin: 0 auto;
        }

        .wide-card {
            width: 512px;
        }

        .square-card {
            width: 320px;
            height: 320px;
        }

        .image-card {
            width: 256px;
            height: 256px;
        }

        .event-card {
            width: 256px;
            height: 256px;
            background: #3E4EB8;
        }

        .drawer {
            border: medium none;
        }

        .drawer-header {
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            height: 151px;
            justify-content: flex-end;
            padding: 16px;
        }

        .avatar {
            border-radius: 24px;
            height: 48px;
            width: 48px;
        }

        .avatar-dropdown {
            align-items: center;
            display: flex;
            flex-direction: row;
            position: relative;
            width: 100%;
        }

        .drawer .mdl-menu__container {
            z-index: -1;
        }

        .drawer .mdl-menu .mdl-menu__item {
            align-items: center;
            display: flex;
        }

        .drawer .navigation {
            z-index: -2;
        }

        .navigation {
            flex-grow: 1;
        }
        
        .navigation .mdl-navigation__link {
            align-items: center;
            color: rgba(0, 0, 0, 0.87) !important;
            display: flex !important;
            flex-direction: row;
            font-weight: 500;
        }

        
        .navigation .mdl-navigation__link .material-icons {
            color: rgba(0, 0, 0, 0.87) !important;
            font-size: 24px;
            margin-right: 32px;
        }
    </style>
</head>
<body ng-controller="MainController as main" class="mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">


    <!-- Simple header with scrollable tabs. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer">
        <header class="mdl-layout__header">
            <div class="mdl-layout--large-screen-only mdl-layout__header-row">
                <span class="mdl-layout-title">Home</span>
                <div class="mdl-layout-spacer"></div>
            </div>
            <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
                <a href="#scroll-tab-1" class="mdl-layout__tab is-active">Home</a>
                <a href="#scroll-tab-2" class="mdl-layout__tab">Now Showing</a>
                <a href="#scroll-tab-3" class="mdl-layout__tab">Coming Soon</a>
            </div>
        </header>
        @*<div class="mdl-layout__drawer mdl-color-text--acent">
            <span class="mdl-layout-title">Ticket Now</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="">UserName</a>
                <a class="mdl-navigation__link" href=""><i class="fa fa-user fa-fw"></i> User Profile</a>
                <a class="mdl-navigation__link" href=""><i class="fa fa-gear fa-fw"></i> Settings</a>
                <a class="mdl-navigation__link" href=""><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </nav>
        </div>*@

        <div class="drawer mdl-layout__drawer mdl-color-text--accent">
            <header class="drawer-header">
                <img class="avatar" src="images/user.jpg">
                <div class="avatar-dropdown">
                    <span>hello@example.com</span>
                    <div class="mdl-layout-spacer"></div>
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="accbtn">
                        <i role="presentation" class="material-icons">arrow_drop_down</i>
                        <span class="visuallyhidden">Accounts</span>
                        <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span>
                    </button>

                    <ul for="accbtn" class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect">
                        <li class="mdl-menu__item mdl-js-ripple-effect" tabindex="-1" data-upgraded=",MaterialRipple">User Profile<span class="mdl-menu__item-ripple-container"><span class="mdl-ripple"></span></span></li>
                        <li class="mdl-menu__item mdl-js-ripple-effect" tabindex="-1" data-upgraded=",MaterialRipple">Settings<span class="mdl-menu__item-ripple-container"><span class="mdl-ripple"></span></span></li>
                        <li class="mdl-menu__item mdl-js-ripple-effect" tabindex="-1" data-upgraded=",MaterialRipple"><i class="material-icons">logout</i>Logout<span class="mdl-menu__item-ripple-container"><span class="mdl-ripple"></span></span></li>
                    </ul>
                </div>
            </header>
            <nav class="navigation mdl-navigation">
                <a href="" class="mdl-navigation__link"><i role="presentation" class="mdl-color-text--blue-grey-400 material-icons">home</i>Home</a>
                <a href="" class="mdl-navigation__link"><i role="presentation" class="mdl-color-text--blue-grey-400 material-icons">inbox</i>Inbox</a>
                <a href="" class="mdl-navigation__link"><i role="presentation" class="mdl-color-text--blue-grey-400 material-icons">delete</i>Trash</a>
                <a href="" class="mdl-navigation__link"><i role="presentation" class="mdl-color-text--blue-grey-400 material-icons">report</i>Spam</a>
                <a href="" class="mdl-navigation__link"><i role="presentation" class="mdl-color-text--blue-grey-400 material-icons">forum</i>Forums</a>
                <a href="" class="mdl-navigation__link"><i role="presentation" class="mdl-color-text--blue-grey-400 material-icons">flag</i>Updates</a>
                <a href="" class="mdl-navigation__link"><i role="presentation" class="mdl-color-text--blue-grey-400 material-icons">local_offer</i>Promos</a>
                <a href="" class="mdl-navigation__link"><i role="presentation" class="mdl-color-text--blue-grey-400 material-icons">shopping_cart</i>Purchases</a>
                <a href="" class="mdl-navigation__link"><i role="presentation" class="mdl-color-text--blue-grey-400 material-icons">people</i>Social</a>
                <div class="mdl-layout-spacer"></div>
                <a href="" class="mdl-navigation__link"><i role="presentation" class="mdl-color-text--blue-grey-400 material-icons">help_outline</i><span class="visuallyhidden">Help</span></a>
            </nav>
        </div>

        <main class="mdl-layout__content">
            <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
                <div class="page-content">
                    
                    <div class="mdl-grid main-content">
                        <div class="mdl-cell mdl-cell--5-col mdl-cell--8-col-tablet mdl-cell--middle">

                            <!-- Square card -->
                            <div class="content-card square-card mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title mdl-card--expand">
                                    <h2 class="mdl-card__title-text">Movie A</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenan convallis.
                                </div>
                                <div class="mdl-card__actions mdl-card--border">
                                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                        View Schedules
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="mdl-cell mdl-cell--5-col mdl-cell--8-col-tablet mdl-cell--middle">

                            <!-- Square card -->
                            <div class="content-card square-card mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title mdl-card--expand">
                                    <h2 class="mdl-card__title-text">Movie B</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenan convallis.
                                </div>
                                <div class="mdl-card__actions mdl-card--border">
                                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                        View Schedules
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="mdl-cell mdl-cell--5-col mdl-cell--8-col-tablet mdl-cell--middle">

                            <!-- Square card -->
                            <div class="content-card square-card mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title mdl-card--expand">
                                    <h2 class="mdl-card__title-text">Movie C</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenan convallis.
                                </div>
                                <div class="mdl-card__actions mdl-card--border">
                                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                        View Schedules
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </section>
            <section class="mdl-layout__tab-panel" id="scroll-tab-2">
                <div class="page-content"><!-- Your content goes here --></div>
            </section>
            <section class="mdl-layout__tab-panel" id="scroll-tab-3">
                <div class="page-content"><!-- Your content goes here --></div>
            </section>
        </main>
    </div>
    

    <div ui-view></div>

    <!-- Libraries -->
    <script src="~/Scripts/lib/angular-full/angular.js"></script>
    <script src="~/Scripts/lib/angular-full/angular-route.min.js"></script>
    <script src="~/Scripts/lib/angular-full/angular-resource.js"></script>
    <script src="~/Scripts/lib/angular-full/angular-sanitize.js"></script>
    <script src="~/Scripts/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="~/Scripts/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="~/Scripts/lib/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="~/Scripts/lib/underscore/underscore.js"></script>
    <script src="~/Scripts/lib/restangular/dist/restangular.js"></script>
    <script src="~/Scripts/lib/jQuery/dist/jquery.js"></script>
    <script src="~/Scripts/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/Scripts/lib/material-design-lite/material.js"></script>
    <script src="~/Scripts/lib/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/lib/angular-ckeditor/angular-ckeditor.js"></script>
    <script src="~/Scripts/lib/angular-loading-bar/src/loading-bar.js"></script>
    <script src="~/Scripts/lib/angular-full/angular-animate.js"></script>

    <script src="~/Scripts/app/app.js"></script>

    <!-- Controllers -->
    <script src="~/Scripts/app/base/MainController.js"></script>

    <!-- Services -->
    <!-- Modules -->
    <script src="~/Scripts/app/modules/auth/auth-module.js"></script>
    <script src="~/Scripts/app/modules/auth/auth-service.js"></script>
    <script src="~/Scripts/app/modules/auth/auth-interceptor-service.js"></script>
    <script src="~/Scripts/app/modules/auth/auth-controller.js"></script>

    <!-- Directives -->
    <script src="~/Scripts/app/base/directives/navbar.js"></script>
    <script src="~/Scripts/app/base/directives/footer.js"></script>
    <script src="~/Scripts/app/base/directives/loginForm.js"></script>
</body>
</html>