<div class="page-header">
    <h3>Claims</h3>
    <button type="button" class="btn btn-default btn-xs" ng-click="addClaim()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-xs" ng-click="removeClaims()">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    </button>
    <p class="text-danger" ng-show="!hasUniqueClaims()">Must have unique claim types</p>
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th></th>
                <th>Claim</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody ng-repeat="claim in user.Claims">
            <tr>
                <td>
                    <input type="checkbox" name="UserName" ng-model="claim.forDeletion" />
                </td>
                <td>
                    <input id="claimType" name="claimType" type="text" class="form-control"
                           ng-model="claim.Type" ng-show="claim.Id == 0" placeholder="Type" required />
                    <div ng-show="claim.Id > 0" ng-bind="claim.Type"></div>
                </td>
                <td>
                    <input id="claimValue" name="claimValue" type="text" class="form-control"
                           ng-model="claim.Value" ng-show="claim.Id == 0" placeholder="Value" required />
                    <div ng-show="claim.Id > 0" ng-bind="claim.Value"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>