<div class="panel panel-default">

    <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">Event Details</h3>
        <div class="btn-group pull-right visible-xs">
            <a class="btn btn-primary" href="/companies"
               data-toggle="modal"
               data-target="#editModal">
                <i class="fa fa-pencil"></i>
                <span>Edit</span>
            </a>
        </div>
    </div>

    <div class="panel-body">
        <form id="eventForm" name="eventForm" class="form-horizontal" novalidate>
            <div class="form-group" ng-class="{ 'has-error' : eventForm.name.$invalid }">
                <label for="name" class="col-sm-3 control-label">Name : *</label>
                <div class="col-sm-9">
                    <input id="name" name="name" type="text" class="form-control" ng-model="event.Name" placeholder="Name" required/>
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-3 control-label">Description : </label>
                <div class="col-sm-9">
                    <textarea id="description" name="description" class="form-control" ng-model="event.Description" placeholder="Description"></textarea>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : eventForm.duration.$invalid }">
                <label for="duration" class="col-sm-3 control-label">Duration : *</label>
                <div class="col-sm-9">
                    <input id="duration" name="duration" type="text" class="form-control" ng-model="event.Duration" placeholder="Duration" required/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" ng-click="submit()" ng-disabled="eventForm.$invalid" class="btn btn-primary">Submit</button>
                    <button type="button" ng-click="cancel()" class="btn btn-default">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

<list-group group="Schedule" list="scheduleList" cssClass="col-md-5"
            edit-item="editSchedule(item)" create-item="createSchedule()" delete-item="deleteSchedule(item, event)"></list-group>