<div class="location-table-actions" ng-show="locationList.length > 0">
    <button type="button" class="btn btn-primary btn-sm" ng-click="deleteLocations()">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    </button>
</div>
<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody ng-repeat="location in locationList">
        <tr>
            <td>
                <input type="checkbox" name="id" ng-model="location.forDeletion" />
                <button type="button" class="btn btn-default btn-xs" ng-click="editLocation(location)">
                    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                </button>
            </td>
            <td ng-bind="location.Name"></td>
            <td ng-bind="location.Description"></td>
        </tr>
    </tbody>
</table>