<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">Ticket Now Admin</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Users<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/Users">List</a></li>
                        <li><a href="#/Users/Create">New</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Roles<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/Roles">List</a></li>
                        <li><a href="#/Roles/Create">New</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Locations<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/Locations">List</a></li>
                        <li><a href="#/Locations/Create">New</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/Events">List</a></li>
                        <li><a href="#/Events/Create">New</a></li>
                    </ul>
                </li>
            </ul>
            <form method="post" id="logoutForm" class="navbar-right" action="Account/LogOff" ng-show="currentUser.isAuth">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{currentUser.userName}}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="./Manage">Manage</a></li>
                            <li><a href="./Dashboard">Dashboard</a></li>
                        </ul>
                    </li>
                    <li><a href="#" ng-click="main.logOff()">Log off</a></li>
                </ul>
            </form>
            <ul class="nav navbar-nav navbar-right" ng-hide="currentUser.isAuth">
                <li><a href="./Account/Register">Register</a></li>
                <li><a href="#/login">Log in</a></li>
            </ul>
        </div>
    </div>
</div>