<div class="panel panel-default">

    <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">User Details</h3>
        <div class="btn-group pull-right visible-xs">
            <a class="btn btn-primary" href="/companies"
               data-toggle="modal"
               data-target="#editModal">
                <i class="fa fa-pencil"></i>
                <span>Edit</span>
            </a>
        </div>
    </div>

    <div class="panel-body">
        <form id="userForm" name="userForm" class="form-horizontal" novalidate>
            <div class="page-header">
                <h1>Create User</h1>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : userForm.userName.$invalid }">
                <label for="userName" class="col-sm-3 control-label">UserName (Email) : *</label>
                <div class="col-sm-9">
                    <input id="userName" name="userName" type="email" class="form-control" ng-model="user.UserName" placeholder="Email" required />
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': userForm.passWord.$invalid }">
                <label for="passWord" class="col-sm-3 control-label">Password : *</label>
                <div class="col-sm-9">
                    <input name="passWord" type="password" class="form-control"
                           ng-model="user.Password" placeholder="Password" required />
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : userForm.confirmPassword.$invalid }">
                <label for="confirmPassWord" class="col-sm-3 control-label">Confirm Password : *</label>
                <div class="col-sm-9">
                    <input name="confirmPassword" type="password" class="form-control"
                           ng-model="user.ConfirmPassword" placeholder="Confirm Password" required match="user.Password" />
                    <div ng-messages="userForm.confirmPassword.$error" ng-show="!userForm.confirmPassword.$pristine">
                        <p class="text-danger" ng-message="unique">Confirm Password must match the Password.</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="homeTown" class="col-sm-3 control-label">HomeTown :</label>
                <div class="col-sm-9">
                    <input id="homeTown" name="homeTown" type="text" class="form-control"
                           ng-model="user.HomeTown" placeholder="HomeTown" />
                </div>
            </div>
            <div class="form-group">
                <label for="zipCode" class="col-sm-3 control-label">ZipCode :</label>
                <div class="col-sm-9">
                    <input id="zipCode" name="zipCode" type="text" class="form-control"
                           ng-model="user.ZipCode" placeholder="ZipCode" />
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : userForm.role.$invalid }">
                <label for="role" class="col-sm-3 control-label">Role :</label>
                <div class="col-sm-9">
                    <select id="role" name="role" class="form-control" placeholder="Select Role"
                            ng-model="user.Role" ng-options="option.Name for option in roleList track by option.Id" required></select>
                </div>
            </div>
            <div class="form-group">
                <div ng-include="'./Content/templates/claims-list.htm'"></div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" ng-click="submit()" ng-disabled="userForm.$invalid" class="btn btn-primary">Submit</button>
                    <button type="button" ng-click="cancel()" class="btn btn-default">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>