<button type="button" class="btn btn-primary btn-sm" ng-click="userCtrl.deleteUsers()">
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
</button>
<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th></th>
            <th>UserName</th>
            <th>HomeTown</th>
            <th>ZipCode</th>
        </tr>
    </thead>
    <tbody ng-repeat="user in userCtrl.userList">
        <tr>
            <td>
                <input type="checkbox" name="UserName" ng-model="user.forDeletion" />
                <button type="button" class="btn btn-default btn-xs" ng-click="userCtrl.editUser(user)">
                    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                </button>
            </td>
            <td ng-bind="user.UserName"></td>
            <td ng-bind="user.HomeTown"></td>
            <td ng-bind="user.ZipCode"></td>
        </tr>
    </tbody>
</table>